:root {
  --main_font: "poppins", "Segoe UI", Tahoma, Verdana, sans-serif;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/bg.jpg");
  color: white;
  font-family: var(--main_font);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  font: normal bolder 2.1rem var(--main_font);
}

.container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 1.5rem;
}

.box {
  min-width: 233px;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0px;
  padding: 1rem 0rem;
}

.up {
  font-size: 2rem;
}

.time > h1 {
  font: normal bolder 3.6rem var(--main_font);
  text-align: center;
}

#ampm {
  color: rgb(255, 255, 255);
  font: normal bolder 1.4rem var(--main_font);
}

@media screen and (max-width: 980px) {
  .box {
    min-width: 150px;
    height: 50px;
  }
  .up {
    visibility: hidden;
  }

  .time > h1 {
    font: normal bolder 2.6rem var(--main_font);
    text-align: center;
  }
  #ampm {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 500px) {
  header {
    font: normal bolder 1.3rem var(--main_font);
  }
}
